app_engine_location    = "eur3"
billing_id             = "01EBD5-5DADB4-689289"
folder_name            = "demo"
folder_parent          = "organizations/694643552517"
location               = "europe-west1"
project_id             = "butter-robot-demo"
subnet                 = "10.5.0.0/16"
workstation_cluster_id = "workstation-cluster"
workstation_name       = "workstation"
