<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cymbal Coffee</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
  <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.svg' />
</head>

<body>
  <!--header>
    <div class="navbar sub-navbar">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <img src="static/icons/cymbal_coffee.svg" alt="" class="top-left-logo-cymbal" /> Cymbal Coffee
        </a>
        <li class="nav-item">
          <a class="nav-link" href="#">Coffee Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <div class="controls">
          <a href="/cart" class="cart-link">
            <img src="static/icons/Hipster_CartIcon.svg" alt="Cart icon" class="logo" title="Cart" />
          </a>
        </div>
      </div>
    </div>

  </header-->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="static/icons/cymbal_coffee.svg" style="width: 30px" alt="" class="top-left-logo-cymbal" /> Cymbal Coffee
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Our Coffees <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Subscriptions</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <a href="/cart" class="cart-link">&nbsp;
          <img src="static/icons/Hipster_CartIcon.svg" alt="Cart icon" class="logo" title="Cart" style="width: 30px; fill: #ff0000;" />
        </a>
      </form>
    </div>
  </nav>

  <main role="main">
    <div class="home-mobile-hero-banner d-lg-none"></div>
    <!-- The image at the top of the home page, displayed on smaller screens. -->
    <div class="container-fluid">
      <div class="row">
        <!-- The image on the left of the home page, displayed on larger screens. -->
        <div class="col-4 d-none d-lg-block home-desktop-left-image"></div>
        <div class="col-12 col-lg-8">

          <div class="row hot-products-row px-xl-6" style="padding-top: 30px">
            {{$stars := .Stars}}
            {{$ratingMap := .RatingMap}}
            {{ range $k, $item := .Coffees }}
            <div class="col-md-3 hot-product-card">
              <a href="/product/">
                <img alt="" src="/static/img/products/flat-coffee-beans.jpg">
                <div class="hot-product-card-img-overlay"></div>
              </a>
              <div>
                <div class="hot-product-card-name">{{$item.Name}}</div>
                <div class="hot-product-card-price">
                  {{$rating := index $ratingMap $item.Name}}
                  {{ range $i := $stars }}
                  {{if gt $i $rating}}
                  <img src="static/icons/blank-star.svg" style="width: 20px" alt="blank star" />
                  {{else}}
                  <img src="static/icons/gold-star.svg" style="width: 20px" alt="gold star" />
                  {{end}}
                  {{end}}

                </div>
                <div class="hot-product-card-price">{{$item.Description}}</div>
              </div>
            </div>
            {{end}}
          </div>

        </div>

      </div>
    </div>

  </main>

  <footer class="py-5">
    <div class="footer-top">
      <div class="container footer-social">
        <p class="footer-text">This website is hosted for demo purposes only. It is not an actual shop. This is not a
          Google product.</p>
        <p class="footer-text">© 2023 Google Inc (<a
            href="https://github.com/GoogleCloudPlatform/microservices-demo">Source Code</a>)</p>
        <p class="footer-text">
      </div>
    </div>
  </footer>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>
</body>

</html>